
@{
    var employee = ViewBag.msg as WebApplication.Models.employee;
}

<!DOCTYPE html>

<html>
<body>
    <p>userid:@employee.userId</p>
    <p>username:@employee.userName</p>
    <p>company:@employee.Company</p>
</body>
</html>
