
@{
    var employee = ViewData["msg"] as WebApplication8.Models.employee;
}

<!DOCTYPE html>

<html>
<body>
    <table style="font-family:Arial">
        <tr>
            <td>userid</td>
            <td>@employee.userId</td>
        </tr>
        <tr>
            <td>userid</td>
            <td>@employee.userName</td>
        </tr>
        <tr>
            <td>userid</td>
            <td>@employee.Company</td>
        </tr>

    </table>
</body>
</html>
