<html>
<body>
   username <input type="text" id="textbox1" />
    <br />
    password <input type="text" id="textbox2" />
    <br />
    <input type="button" value="submit" id="button1" />
</body>
</html>
